@media only screen and (max-width: 900px) {
  /* تعديل تصميم الموقع للأجهزة الكبيرة هنا */

body{
    background-color:#090a2d;
    color: #bbd5e7;
    margin: 0%;
    padding: 0%;
}
body {
  overflow-x: hidden; /* يخفي شريط التمرير الأفقي */
  margin: 0; /* يزيل الهامش الافتراضي للجسم */
}

.navbar {
   
  overflow: hidden;
  top: 0px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  z-index: 10;
  background-color: #00016a45;
}

.navbar a {
 
  flex: 0 0 calc(30% - 40px);
  color: rgb(255 255 255);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding: 7px 0px 3px 0px;
  text-decoration: none;
}


.navbar a:hover {
  
  background-color: #7d7d91b1;
  color: rgb(255, 255, 255);
}


.left-navbar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;

  top: 28vh;
  left: 0;
  height: 15vh;
  width: 5.2vw;
  /* padding: 11px; */
  z-index: 100;
  /* padding-left: 6px; */
  
  box-shadow: 0px 0px 20px 3px rgb(105 89 251 / 50%);
  
}

.left-navbar ul{
  
    
  
  list-style: none;
  padding: 0px;
  margin-top: 0px;
}

.left-navbar li{

  font-size: 10px;
  background-color: #fefefebf;
  padding-left: 3px;

}
.left-navbar li img{
font-size: 10px;
height: fit-content;
width: 5vw;
padding-bottom: 15px;
padding-left: 0.5vw;
padding-top: 0px;
transition: all 1s ease;
}
.left-navbar li svg{

  font-size: 10px;
  height: fit-content;
  width: 5vw;
  padding-bottom: 22px;
  padding-left: 0.5vw;
  padding-top: 9px;
  padding-right: 3px;
  transition: all 1s ease;
}
.left-navbar li img:hover {
  
  filter: brightness(1.3);
  transform: rotate(33deg);
  
}
.left-navbar li svg:hover {

filter: brightness(1.3);
transform: rotate(33deg);
fill: #0030ff;
stroke:"green";

}


.photo_up {
  
  /* يمنع تكرار الصورة */
  
  color: #ffffff;
  top: 0px;
  display: inline-block;
  z-index: -1;
  /* height: 20vh; */
  width: 88%;

}
.color_fix1{


  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #a0a0a0;
  z-index: -1;
  width: 92vw;
  height: 61vh;
  position: absolute;
  margin-top: 6vh;
}
.color_fix2{

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #232323;
  z-index: -1;
  width: 8vw;
  height: 61vh;
  /* margin-left: 0vw; */
  right: 0vw;
  position: absolute;
  margin-top: 6vh;
}

.img_up{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(ahmed-mopile.png);
  z-index: -1;
  width: 54vw;
  height: 33vh;
  /* margin-left: 161px; */
  /* right: 10px; */
  position: absolute;
  margin-top: 6vh;
  left: 164px;
}



.up_a:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}


.photo_up a{
  text-decoration: none;
    /* --green: #f3e4e4; */
    padding: 1px 22px;
    /* letter-spacing: 0.06em; */
    position: relative;
    font-family: inherit;
    border-radius: 0.5em;
    font-weight: 900;
    overflow: hidden;
    transition: all 0.3s;
    /* padding-right: 84px; */
    line-height: 1.4em;
    border: 2px solid #000000;
    /* background: linear-gradient(to top, rgb(161 164 253 / 59%) 1%, #ffffffa6 26%,#7b8eeb75 60% , rgb(255 255 255) 100%); */
    background-color: #f1f1f5;
    color: #8b3b00;
    font-style: oblique;
    font-size: 15px;
    height: 27px;
    animation: continuoutext 2s infinite;
    display: inline-block;
    box-shadow: 0px 0px 0px rgb(21 22 26 / 40%), 0 0 23px 5px rgb(0 0 0 / 64%);
    margin-right: 5vw;
}
@keyframes continuoutext {
  0% {
   color: #585a65;
  }
  50% {
    color: #0003b8;
  }
  100% {
    color: #585a65;
  }
}

.up_a{
  margin-top: 1vh;
  margin-left: 11vw;
  font-weight: 1000;
  display: flex;
}
.photo_up a:hover{

  
  transform: scale(1.2);
  
  

}
.up_text{
  margin-top: 10vh;
  margin-left: 8vw;
  padding-left: 1vw;
  color: rgb(255 255 255);
  padding-bottom: 1vh;
  padding-top: 10.7vh;
  font-size: 12px;
  background-color: #28262640;
}




.up_text h1{

  margin-right: 50vw;
  font-size: 2em;
}
.up_text p{
  font-size: 1.3em;
  width: 78vw;
  color: #f9faff;
  background-color: black;
}
   

.parttwo{
    
  margin-top: 15vh;
z-index: -2;

}


.card-person img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
 
}




@keyframes continuoustr {
  0% {
    transform: scale(1) translateX(0px);
  }
  50% {
    transform: scale(1.1) translateX(-30px);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}




.card_text{
width: 74%;
height: 235px;
margin-top: 40px;
background-color: #68c3cf;

color: hwb(256 0% 55%);
padding: 30px;
text-align: center;
font-size: xx-large;
border: 2px solid #133af1;
}



.card_text p {
font-size: 17px;
font-weight: 400;
line-height: 20px;
color: #666;
}
.card p.card_s1 {
font-size: 14px;
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: -1;
  left: 0;
  height: 2vh;
  background-color: #b2c1de;
  margin-left: 6vw;
  width: 22vw;
  border-radius: 0px 42px 0 42px;
}
.card{


width: 100%;
}
.card1 {
  display: block;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 3px 7px;
  margin: 20px;
  text-decoration: none;
  height: 24vh;
  z-index: 0;
  margin-left: 31px;
  margin-top: 65px;
  color: black;
  font-size: larger;
  padding-right: 72vw;
  font-weight: 1000;
  overflow: hidden;
  margin-right: 5px;
  padding-top: 5vh;
  width: 1vw;
}
.card1 p{

  width: 55vw;


}
.small{
  
  font-size: 13px;
}

.card1:before {
content: "";
position: absolute;
z-index: -1;
top: -14px;
left: 36vw;
background: #b2c1de;
height: 13px;
width: 32px;
border-radius: 32px;
transform: scale(1);
transform-origin: 50% 50%;
transition: transform 0.4s ease-out;
}

.card1:hover:before {
transform: scale(70);
}

.card1:hover p {
transition: all 0.3s ease-out;
color: rgb(0, 0, 0);
background-color: #ffffffaf;
}

.card1:hover h3 {
transition: all 0.3s ease-out;
color: #ffffff;
}
.card1 h2{
  font-size: 22px;
  width: max-content;
  margin-top: -23px;
  margin-bottom: -3px;
}



.card3_3 {
  width: 32vw;
  background: #171717;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  border: 2px solid #0030ff;
}

.card3_3 span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: .5em;
}

.card3_3 .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.42em;
  
}


.card3_3 .partthree_im1{

  
  width: 6.8em;
  height: 4.8em;
  background: rgb(80 39 213);
  background-image: url(net.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;

  
}

.card3_3 .img{
  margin-bottom: 4vw;
  margin-top: 2vh;
}














.card3_3  .partthree_im2{
  

  width: 6.8em;
  height: 4.8em;
  background: rgb(255, 255, 255);
  background-image: url(angular.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.card3_3  .partthree_im3{
 
  width: 6.8em;
  height: 4.8em;
  background: rgb(255, 255, 255);
  background-image: url(laravel.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card3_3  .partthree_im4{
 
  width: 6.8em;
  height: 4.8em;
  background: rgb(255, 255, 255);
  background-image: url(course_6020_image.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}




.card3_3 .share {
  
  
     justify-content: center;
  gap: 1em;
  /* margin-top: 38px; */
  display: flex;
}

.card3_3 a {
  color: white;
  transition: .4s ease-in-out;
}

.card3_3 a:hover {
  color: red;
}

.card3_3 button {
  padding: 4px 1px;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
  width: 89px;
  margin-top: 10px;
}

.card3_3 button:hover {
  background: red;
  color: white;
  cursor: pointer;
}

.partthree {
  
  margin-top: 12vh;
  padding: 5vw;
  margin-left: 0vw;
  display: flex;

  
}
.three_carddy {

  margin: 0px -30px;
}
 .two_carddy{
  margin: 0px 80px;
}
.cardyy{

  margin-left: 9vw;
  margin-bottom: 16vw;
}





.partfour{
  background-color: #203857;
  width: 85%;
  height: 24vh;
  margin-left: 38px;
  margin-bottom: 56px;
  margin-top: 45px;
}

.textarea textarea{
  width: 75vw;
  height: 13vh;
  margin-bottom: 17px;
  margin-left: 18px;
}

.labeltextarea {
  padding-top: 1px;
  /* padding: 38px; */
  font-size: 14px;
  padding-left: 15px;
}
.buttextarea {
transition: all 5s ease;
}
.buttextarea button{
  color: #ffffff;
  position: absolute;
  /* left: 3px; */
  width: 23vw;
  border: 2px solid #eeeaff;
  /* margin-top: 33px; */
  /* right: 312px; */
  background-color: #0b0c79;
  font-size: 15px;
  font-weight: 500;
  right: 27px;
  font-style: italic;
  transition: all 5s ease;
}
.buttextarea :hover{
  transform: rotate(29deg);
}


  footer .deleted {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
   
    bottom: 0;
    width: 100%;
  }

  .content {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 16px 0;
    padding-left: 17px;
    padding-right: 8px;
    font-size: 12px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h2 {
    color: #fff;
    font-size: 18px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section a {
    text-decoration: none;
    color: #fff;
  }
  
  .bottom-footer {
    text-align: center;
    
  }




}


@media only screen and (max-width: 600px){
  
  .card-person {

    border: 5px solid #000000;
    width: 23vw;
    overflow: hidden;
    box-shadow: 20px 1px 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* margin-right: -3vw; */
    z-index: 9;
    float: right;
    position: absolute;
    right: 1vw;
    margin-top: -2vh;
    animation: continuoustr 5s infinite;
    border-radius: 21% 79% 18% 82% / 70% 35% 65% 30%;
    background-color: rgb(0, 0, 0);
    filter: brightness(.9);
  
  }


}

@media only screen and (min-width: 600px) and (max-width: 900px) {


  .card-person {
      
    border: 5px solid #000000;
    width: 18vw;
    overflow: hidden;
    box-shadow: 20px 1px 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* margin-right: -3vw; */
    z-index: 9;
    float: right;
    position: absolute;
    right: 1vw;
    margin-top: -2vh;
    animation: continuoustr 5s infinite;
    border-radius: 21% 79% 18% 82% / 70% 35% 65% 30%;
    background-color: rgb(0, 0, 0);
    filter: brightness(.9);
  }
}